################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Docz/Docz.csproj.user
/Docz/bin
/Docz/obj
/Docz.Contracts/bin
/Docz.Contracts/obj
/ExternalLinks/bin
/ExternalLinks/obj
/Docz.Core/bin
/Docz.Core/obj
/LotusServiceTransfer/bin
/LotusServiceTransfer/obj
/packages
/WebApi/bin
/WebApi/obj
/WebApi_KMGIntegration/bin
/WebApi_KMGIntegration/obj
/XmlDocs/bin
/XmlDocs/obj
/XmlImport/bin
/XmlImport/obj
/Docz/Properties/PublishProfiles
/WebApi/Properties/PublishProfiles
/XmlDocs/Properties/PublishProfiles
*.pubxml
*.psess
*.vspx
/TSOD/bin
/TSOD/obj
/TSOD/Properties/PublishProfiles
/WebApi_KMGIntegration/WebApi_KMGIntegration.csproj.user
/.gitattributes
/Docz/Scripts/angular.min_OLD.js
/Docz/Scripts/angular_OLD.js
/Docz/node_modules
/Docz/React/Compiled
/Docz/React/*.js.map
/Docz/React/*/*.js.map
/Docz/React/*/*.css.map
/Docz/React/*/*/*.js.map
/Docz/React/*/*/*.css.map
/Docz.Contracts/React
/Docz/Content/Logos
/ExternalLinks/Properties/PublishProfiles/ext.pubxml.user
/ExternalLinks/ExternalLinks.csproj.user
/Docz/React/yarn.lock
/Docz/React/.pnp.loader.mjs
/Docz/React/.pnp.cjs
/Docz/React/node_modules
/Docz/React/.yarnrc.yml
/Docz/React/.yarn/
/ConsoleApplication1/obj/
/ConsoleApplication1/bin/
/Docz/React/dist
